<?xml version="1.0"?>

<robot xmlns:xacro="http://wiki.ros.org/xacro" name="mia_hand_description">

  <xacro:arg name="laterality" default="right" />
  <xacro:arg name="joint_limits_config_file" default="joint_limits_default.yaml"/>
  <xacro:arg name="prefix" default=""/>

  <!-- Importing Mia Hand macro -->
  <xacro:include filename="$(find mia_hand_description)/urdf/mia_hand.urdf.xacro"/>

  <link name="world"/>

  <xacro:mia_hand 
    laterality="$(arg laterality)"
    joint_limits_config_file="$(arg joint_limits_config_file)"
    parent="world"
    prefix="$(arg prefix)">
    <xacro:if value="${'right' == '$(arg laterality)'}">
      <origin xyz="0 0 0.2" rpy="1.57 0 0"/>
    </xacro:if>
    <xacro:if value="${'left' == '$(arg laterality)'}">
      <origin xyz="0 0 0.2" rpy="1.57 3.14 0"/>
    </xacro:if>
  </xacro:mia_hand>

</robot>
