<?xml version="1.0"?>

<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="mia_hand_robot">
    <xacro:arg name="initial_positions_file" default="initial_positions.yaml" />

    <!-- Import mia_hand_robot urdf file -->
    <xacro:include
            filename="$(find mia_hand_ros2_control)/description/urdf/mia_hand_system_interface.urdf.xacro" />

</robot>
