build/
install/
log/
docker_ws/dev/mujoco/log/*
!docker_ws/dev/mujoco/log/.gitkeep
.env
.vscode
.github/
agent.md

# ignore rust files
target/
Cargo.lock

# ignore old files
*.old.*

# ignore python cache
__pycache__/

# llm stuff
.kilo/
plans/
.forge/
