build/
install/
log/
docker_ws/dev/mujoco/log/*
!docker_ws/dev/mujoco/log/.gitkeep
.env
.vscode
.github/
agent.md

# ignore rust files
target/
Cargo.lock

# pc_segmentation related
*.so
*.[o,d,a]
*.swo
*.swp
*.swn
*.pyc

build/
objs/
dist/
MinkowskiEngine.egg-info/
docker_ws/dev/pc_segmentation/weights/weights_exp14_14.pth

.ply
.bag